.container-sm{

    background-color: aqua;

    text-align: center;

    padding: 1rem;

    margin-top: 4rem;

    border: solid 3px black;

}

.row{

    background-color: red;

    text-align: center;

    padding: 1rem;

    border: solid 3px black;

}


.col{

    background-color: bisque;

    text-align: center;

    padding: 1rem;

    border: solid 3px black;

}


.container-fluid{

    text-align: center;

    background-color: aquamarine;

    border: solid 3px black;

}


.boxForExample{

    border: solid 3px black;

    background-color: blue;

    margin-top: 3rem;

    color: azure;

}

.elementForExample{

    border: solid 3px black;

    background-color: chartreuse;

}

.exampleRow{

    background-color: crimson;

    gap:5px;

}


.elementForExample2{



    border: solid 3px black;

    background-color:chocolate;

}


.componentContainer{

    margin-top: 3rem;

    border: solid 3px black;

}


.buttonsBox{

    gap:3px;

}


.componentButtons{

    margin-top: 3rem;

}


